* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mensagemResultado {
    font-weight: bold;
    margin-top: 10px;
  }

  .valido {
    color: green;
  }

  .invalido {
    color: red;
  }